.stack-book {
	margin:0 0 2px 0;
	
	> a {
		border-width:1px 2px;
		border-style:solid;
		border-radius:3px / 20px;
	}

	.spine-text {
		height:40px;
		line-height:40px;
		top:50%;
		margin-top:-7px;
		left:15px;
		right:24px;
	}

	.spine-year {
		@include rotate(-90deg);
	}
}

.stack-pages {
	position:absolute;
	z-index:4;
	display:block;
	width:10px;
	right:-6px;
	top:0;
	bottom:-4px;
	border-width:3px 0 3px 2px;
	border-style:solid;
	border-radius:4px 0 0 4px / 20px 0 0 20px;
	@include transform-origin(0 100%);
	@include skew(0deg, -20deg);
	
	&:after {
		position:absolute;
		content:"";
		left:0;
		right:2px;
		top:0;
		bottom:0;
		background:#f5f2e8;
		border-radius:3px 0 0 3px / 20px 0 0 20px;
		border-width:2px 1px 2px 0px;
		border-style:solid;
		border-color:#aaa #e5e5e5 #007acc #ddd;
	}
}

.stack-cover {
	position:absolute;
	z-index:4;
	height:2px;
	border-width:1px;
	border-style:solid;
	border-right-width:2px;
	top:-4px;
	left:0;
	right:5px;
	border-radius:4px 0 0 50px;
	@include transform-origin(0 100%);
	@include skew(-70deg, 0deg);
}