/******************
   HEATMAP

   hottest = heat10
   coldest = heat1
*******************/

.heat1 {
	$bg: #ccebff;
	$border: #adf;
	
	a {
		background-color:$bg;
		background-image:url('images/superGloss.png');
		color:#222;
		text-shadow:0 1px 0 #fff;
		border-color:$border;

		&:visited, &:hover, &:active {
			color:#222;
		}
	}
	
	@include decorations($bg, $border);
}

.heat2 {
	$bg: #adf;
	$border: #88cfff;
	
	a {
		background-color:$bg;
		background-image:url('images/superGloss.png');
		color:#222;
		text-shadow:0 1px 0 #ddf1ff;
		border-color:$border;

		&:visited, &:hover, &:active {
			color:#222;
		}
	}
	
	@include decorations($bg, $border);
}

.heat3 {
	$bg: #77c9ff;
	$border: #59b6ef;
	
	a {
		background-color:$bg;
		background-image:url('images/highGloss.png');
		color:#111;
		text-shadow:0 1px 0 #adf;
		border-color:$border;

		&:visited, &:hover, &:active {
			color:#111;
		}
	}
	
	@include decorations($bg, $border);
}

.heat4 {
	$bg: #44b4ff;
	$border: #11a0ff;
	
	a {
		background-color:$bg;
		text-shadow:0 -1px 0 $border;
		border-color:$border;
	}
	
	@include decorations($bg, $border);
}

.heat5 {
	$bg: #22a7ff;
	$border: #008fee;
	
	a {
		background-color:$bg;
		text-shadow:0 -1px 0 $border;
		border-color:$border;
	}
	
	@include decorations($bg, $border);
}

.heat6 {
	$bg: #0099ff;
	$border: #007acc;
	
	a {
		background-color:$bg;
		text-shadow:0 -1px 0 #0085dd;
		border-color:$border;
	}
	
	@include decorations($bg, $border);
}

.heat7 {
	$bg: #0085dd;
	$border: #06a;
	
	a {
		background-color:$bg;
		text-shadow:0 -1px 0 #0070bb;
		border-color:$border;
	}
	
	@include decorations($bg, $border);
}

.heat8 {
	$bg: #0070bb;
	$border: #004777;
	
	a {
		background-color:$bg;
		text-shadow:0 -1px 0 #005c99;
		border-color:$border;
	}
	
	@include decorations($bg, $border);
}

.heat9 {
	$bg: #005c99;
	$border: #002944;
	
	a {
		background-color:$bg;
		text-shadow:0 -1px 0 #004777;
		border-color:$border;
	}
	
	@include decorations($bg, $border);
}

.heat10 {
	$bg: #004777;
	$border: #001522;
	
	a {
		background-color:$bg;
		text-shadow:0 -1px 0 #035;
		border-color:$border;
	}
	
	@include decorations($bg, $border);
}
