.stack-soundrecording {
	height:25px;
	width:280px;
	margin:0 0 1px 0;

	&:before {
		content:url('images/icon-note.png');
		position:absolute;
		left:10px;
		top:4px;
	}

	> a {
		border-width:1px;
		border-style:solid;
		border-left:3px solid rgba(225, 225, 225, 0.6);
		border-right:3px solid rgba(225, 225, 225, 0.6);
	}

	.spine-text {
		left:35px;
	}

	.spine-title {
		height:25px;
		line-height:25px;
		font-size:12px;
	}

	.spine-year {
		right:7px;
	}
}

.sound-edge {
	position:absolute;
	top:0;
	bottom:-2px;
	left:100%;
	width:5px;
	border:2px solid rgba(225, 225, 225, 0.6);
	border-radius:0 2px 2px 0;
	@include transform-origin(0 100%);
	@include skew(0, -20deg);

	&:before {
		position:absolute;
		top:0;
		bottom:0;
		left:1px;
		display: block;
		content:"";
		z-index:5;
		width: 1px;
		background:rgba(250, 250, 250, 0.5);
	}

	&:after {
		position:absolute;
		top:0;
		bottom:0;
		left:3px;
		display: block;
		content:"";
		z-index:5;
		width: 1px;
		background:rgba(250, 250, 250, 0.5);
	}
}

.sound-cover {
	position:absolute;
	top:-3px;
	left:0;
	right:-1px;
	height:1px;
	border-width:1px;
	border-style:solid;
	border-radius:4px;
	@include transform-origin(0 100%);
	@include skew(-70deg, 0);
}